<!DOCTYPE html>
<head>
    <title>Pokemon - Gotta Catch Them All!</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body class="second">
                                                                                                                                                                                                    
    <h1>
        <img src="https://i.pinimg.com/originals/fd/18/c6/fd18c6d26d4d9d26a0bd9d1a2fb2bd04.png" class = "title-pic"/>
    </h1>
    <div>
        <img class="imgPokemon" src="{{icon1}}" alt= "Pokemon {{pokemon1}} icon">
        <span >{{pokemon1}}</span>
        
        <b class = "b-poke">vs</b>
        
        <span >{{pokemon2}}</span>
        
        <img class="imgPokemon" src="{{icon2}}" alt="Pokemon {{pokemon2}} icon">
    </div>
    
        <span  class="button-winner">{{proba}}% {{winner}} Wins!</span>
        </br>
        <a href="/" role="button"> <button class = "btn-return">Return</button></a>
        </br>
        <img class = "plot" src="{{graph}}" alt="{{graph}}" width="1000px">
        </br>
        <hr class = "line">
        </br>
        <a class = "more-info" href = "https://sg.portal-pokemon.com/play/pokedex?fbclid=IwAR2Z3QGRpE46KWK8TJbK3TRctJNbGqsjEGo74_OJPjS405XnnhfSZQA9okQ" >Access more information about Pokemons from official page by clicking here</a>
        
</body>
</html>
